@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
/* Base */
html {
  font-size: 100%;
}

body {
  font: normal 400 1rem/1.5 "Roboto", sans-serif;
  color: #000;
  background-color: #FAF7F5;
  margin: 3em;
  float: left;
}

body > * {
  float: left;
}

/* Typography */
h1, h2, h3, p {
  margin: 0;
}

h1 {
  font-size: 2.125rem;
  font-weight: 400;
}

h1.logo {
  color: #181514;
  /* transition: all .2s ease-in-out; */
  display: inline-block;
  margin-bottom: 2rem;
  /* cursor: pointer; */
  display: inline-block;
}

h1.logo.unfocus {
  font-size: 1.0625rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

h2 {
  font-size: 3rem;
  font-weight: 400;
  margin-bottom: .5rem;
}

h3 {
  font-size: 1.5rem;
  font-weight: 400;
}

p.subtitle {
  font-size: 0.875rem;
  font-weight: 500;
}

p.subtitle-2 {
  font-size: 0.75rem;
  font-weight: 500;
}

p.overline {
  font-size: 0.625rem;
  line-height: 2;
  font-weight: 500;
  letter-spacing: .1rem;
  text-transform: uppercase;
}

p.muted {
  color: #181514;
  margin: 1rem 0 2rem;
}

a, a:visited {
  color: #8E6619;
}

/* Cases list */
.casesWrapper {
  width: 100%;
  float: left;
}

.caseItem {
  max-width: calc((100% - 1.5em) / 2);
  /* max-width: calc((100% - 3em) / 3); */
  margin: 0 1.5em 2em 0;
  float: left;
}

.caseItem img {
  width: 100%;
}

.caseItem:nth-child(even) {
  margin-right: 0;
}

/*
.caseItem:nth-child(3n+3) {
    margin-right: 0;
}
*/
/* Case view */
.caseOverline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1em;
}

.caseOverline > * {
  display: inline-block;
}

.caseOverline a img {
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  cursor: pointer;
  display: block;
}

.caseOverline a img:hover {
  padding-right: 6px;
  margin-left: -6px;
}

.caseOverline p {
  margin-left: 1.5em;
  padding-left: 1.5em;
  border-left: 1px solid #000;
}

ul.caseImages {
  list-style-type: none;
  margin: 0 0 2rem -.5rem;
  padding: 0;
}

ul.caseImages li {
  max-width: calc(100% / 6);
  margin: 0 .5rem .5rem;
  cursor: pointer;
  background: #181514;
  display: inline-block;
}

ul.caseImages li img {
  opacity: .8;
  -webkit-transition: opacity .2s ease-in-out;
  transition: opacity .2s ease-in-out;
  display: block;
  width: 100%;
}

ul.caseImages li img:hover {
  opacity: 1;
}

.textSection {
  margin-bottom: 1rem;
  float: left;
}

.textSection h3 {
  margin-bottom: .5rem;
}

.textSection a {
  margin-top: 1rem;
  display: block;
}

/* temporary stylings for the static mvp */
body {
  max-width: 900px;
}

h1.logo a {
  display: block;
  text-decoration: none;
  color: #181514;
}

.caseOverline {
  margin-top: .5rem;
}

.caseItem a {
  text-decoration: none;
  color: #181514;
}

.caseItem a.image {
  margin-bottom: .5rem;
  float: left;
  position: relative;
}

.caseItem a.image::after {
  content: " ";
  background: #181514;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  position: absolute;
}

.caseItem img {
  -webkit-transition: opacity .2s ease-in-out;
  transition: opacity .2s ease-in-out;
  opacity: .8;
  float: left;
}

.caseItem img:hover {
  opacity: 1;
}

/* mobile views */
@media only screen and (max-width: 600px) {
  .caseItem {
    width: 100%;
    max-width: none;
    margin: 0 0 3em 0;
    float: left;
    display: block;
  }
  .caseItem a {
    width: 100%;
    display: block;
  }
}

@media only screen and (max-width: 768px) {
  body {
    margin: 1.5em;
  }
  h2 {
    font-size: 2.5rem;
  }
  ul.caseImages li {
    max-width: calc(100% / 4);
  }
}
/*# sourceMappingURL=style.css.map */