@import url("https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
// @import url("https://fonts.googleapis.com/icon?family=Material+Icons");

$font-stack: "Amiri", serif;
$font-stack-ss: "Roboto", sans-serif;

$primary-clr: #000;
$secondary-clr: #181514; // 4D4D4D
$muted-clr: #4D4D4D;
$link-clr: #8e6619;
$bg-clr: #faf7f5; // #F5F5F5

/* Base */
html {
  font-size: 100%;
}

body {
  font: normal 400 1rem/1.5 $font-stack;
  color: $primary-clr;
  background-color: $bg-clr;
  margin: 3em;
}

.wrapper {
  max-width: 800px;
}

.wrapper.cases {
  max-width: unset;
}

header {
  width: 100%;
  margin: 0 0 3em;
  display: block;
}

header.unfocus {
  margin: 0 0 1em;
}

.wrapper > * {
  float: left;
}

/* Typography */
h1,
h2,
h3,
p {
  margin: 0;
}
h1 {
  font-size: 2.125rem;
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: 0.02rem;
}
h1.logo {
  color: $secondary-clr;
}
header.unfocus {
  h1.logo {
    font-size: 1.5rem;
    line-height: 1.4;
    font-weight: 400;
  }
}
h2 {
  font-size: 2.5rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
}
h3 {
  font-size: 1.5rem;
  font-weight: 400;
}
p {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
p.subtitle {
  font-size: 0.875rem;
  font-weight: 500;
}
p.subtitle-2 {
  font-size: 0.75rem;
  font-weight: 500;
}
p.overline {
  font-family: $font-stack-ss;
  font-size: 0.625rem;
  line-height: 2;
  font-weight: 500;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  margin-bottom: 0;
}
p.muted {
  color: $muted-clr;
  margin: 1rem 0 2rem;
}
a,
a:visited {
  color: $link-clr;
}
#glightbox-body {
  font-family: $font-stack-ss;
}

/* Cases list */
.casesWrapper {
  width: 100%;
  margin-bottom: 3em;
  float: left;
}

.caseItem {
  width: calc((100% - 3em) / 3);
  margin: 0 0 2em 0;
  float: left;

  img {
    width: 100%;
  }
}

.caseItem:nth-child(3n+2) {
  margin: 0 1.5em;
}

/* Case view */
.caseOverline {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-bottom: 1em;

  > * {
    display: inline-block;
  }
  a img {
    transition: all 0.2s ease-out;
    cursor: pointer;
    display: block;
  }
  a img:hover {
    padding-right: 6px;
    margin-left: -6px;
  }
  p {
    margin-left: 1.5em;
    padding-left: 1.5em;
    border-left: 1px solid #000;
  }
}

ul.caseImages {
  list-style-type: none;
  margin: 0 0 2rem 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;

  li {
    width: calc(100% * (1 / 5) - 0.4rem);
    margin: 0 0.5rem 0.5rem 0;
    background: $secondary-clr;
    display: inline-block;

    img {
      opacity: 0.8;
      transition: opacity 0.2s ease-in-out;
      display: block;
      width: 100%;
    }
    img:hover {
      opacity: 1;
    }
  }
  li:nth-child(5n) {
    margin: 0 0 0.5rem 0;
  }
}

.textSection {
  width: 100%;
  margin-bottom: .5rem;
  float: left;
  h3 {
    margin-bottom: 0.5rem;
  }
  a {
    font-size: 1.2rem;
    margin-top: 1rem;
    display: inline-block;
  }
}

.textSection:last-of-type {
    margin-bottom: 3em;
  }

.imgSection {
  width: 80%;
  margin: 1rem 0 2rem;
  position: relative;
  float: left;

  img {
    user-select: none;
    width: 100%;
  }

  .processLabels {
    position: absolute;
    top: calc(50% - 0.8rem);
    width: 97.5%;
    left: 50%;
    transform: translate(-50%, 0);

    p.overline {
      width: 25%;
      text-align: right;
      float: left;
      span {
        padding: 0 0.5rem;
      }
    }

    p.overline:nth-child(even) {
      text-align: left;
    }
  }

  .processSteps {
    position: absolute;
    width: 100%;
    top: 70%;
    padding-top: 0.5rem;
    border-top: 1px dashed #000;

    p.overline {
      width: calc(100% / 3);
      float: left;
    }
    p.overline:nth-child(2) {
      text-align: center;
    }
    p.overline:nth-child(3) {
      text-align: right;
    }
  }
}

/* temporary stylings for the static mvp */
h1.logo a {
  display: inline-block;
  text-decoration: none;
  color: $secondary-clr;
}

.caseOverline {
  margin-top: 0.5rem;
}

.caseItem {
  a {
    width: 100%;
    text-decoration: none;
    color: $secondary-clr;
  }
  a.image {
    background: $secondary-clr;
    float: left;
    position: relative;
  }
  a img {
    opacity: .8;
    transition: opacity 0.2s ease-in-out;
    display: block;
  }
  a:hover img {
    opacity: 1;
  }
  span {
    background: $bg-clr;
    padding: 1em 0;
    display: block;
    p {
      margin-bottom: 0;
    }
    p:last-of-type {
      font-style: italic;
    }
  }
}

/* mobile and tablet views */
@media only screen and (max-width: 768px) {
  body {
    margin: 1.5em;
  }
  header {
    margin: 0 0 2em;
  }
  h2 {
    font-size: 2.5rem;
  }
  ul.caseImages {
    li {
      width: calc(100% * (1 / 4) - 0.375rem);
    }
    li:nth-child(4n) {
      margin: 0 0 0.5rem 0;
    }
    li:nth-child(5n) {
      margin: 0 0.5rem 0.5rem 0;
    }
  }
  .imgSection {
    width: 100%;
  }
}
@media only screen and (max-width: 600px) {
  .caseItem {
    width: 100%;
    max-width: none;
    margin: 0 0 1em 0;
    float: left;
    display: block;

    a {
      width: 100%;
      display: block;
    }
  }
  ul.caseImages {
    li {
      width: calc(100% * (1 / 3) - 0.334rem);
    }
    li:nth-child(3n) {
      margin: 0 0 0.5rem 0;
    }
    li:nth-child(4n),
    li:nth-child(5n) {
      margin: 0 0.5rem 0.5rem 0;
    }
  }
  .imgSection p.overline {
    font-size: 0.5rem;
  }
}
