<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Portfolio</title>
    <meta name="description" content="UX Portfolio" />
    <meta name="author" content="Oskar Ekström" />
    <meta name="robots" content="noindex, nofollow" />
    <link rel="stylesheet" href="css/style.css" />
    <script src="https://unpkg.com/vue@next"></script>
  </head>

  <body>
    <div id="app">
      <h1 class="logo" :class="{ unfocus: caseOpened }" @click="resetView()">
        Oskar Ekström<br />UX-designer
      </h1>

      <!-- List cases -->
      <!-- <transition name="fade"></transition> -->
        <section v-if="!caseOpened" key="list">
          <h2>{{ casesHeader }}</h2>

          <div class="casesWrapper">
            <div
              v-for="caseItem in caseList"
              :key="caseItem.id"
              @click="openCase(caseItem.id)"
              class="caseItem"
            >
              <img :src="caseItem.image" :alt="caseItem.title" />
              <p class="subtitle">{{ caseItem.title }}</p>
              <p class="subtitle-2">{{ caseItem.role }}</p>
            </div>
          </div>
        </section>

        <!-- Specific case -->
        <section v-else key="item">
          <div class="caseOverline">
            <img src="resources/arrow-left.svg" @click="resetView()" />
            <p class="overline">{{ caseList[activeCase].title }}</p>
          </div>
          <h2>Brief</h2>
        </section>
      
    </div>

    <script src="js/main.js"></script>

    <script>
      // Mount Vue to DOM
      const mountedApp = app.mount("#app");
    </script>
  </body>
</html>
